<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>516836299573-nupeac5hhbhskm7ketbpakk5fafel6mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516836299573-nupeac5hhbhskm7ketbpakk5fafel6mm</string>
	<key>API_KEY</key>
	<string>AIzaSyDBcifiAh8QfoW_JXo6MXvbTUYnelrz4Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>516836299573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AD.ByFoodToHome</string>
	<key>PROJECT_ID</key>
	<string>byfoodtohome</string>
	<key>STORAGE_BUCKET</key>
	<string>byfoodtohome.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:516836299573:ios:9a5a4c9045b59b3a</string>
	<key>DATABASE_URL</key>
	<string>https://byfoodtohome.firebaseio.com</string>
</dict>
</plist>